/*  calendar calendar table styles  */
.agreservations-calendar tr.odd, .agreservations-calendar tr.even {
  background-color:#fff;
}
.agreservations-calendar table {
  border-collapse: collapse;
  border-spacing: 0;
  margin:0 auto;
  padding:0;
  width: 100%; /* Setting at 100% causes problem in Internet Explorer. */
}
.agreservations-calendar .month-view table {
  border:none;
  padding:0;
  margin:0;
  width:100%;
}

  /* IE needs a little help to get the side by side tables to the right size */
.agreservations-calendar .year-view td {
  width:32%;
  padding:1px;
  border:none;
}

.agreservations-calendar .year-view td table td {
  width:13%;
  padding:0;
}

.agreservations-calendar tr {
  padding: 0;
  margin: 0;
  background-color: white;
}
.agreservations-calendar th {
    width: 1px;
    border:solid;
   border-width: 1px;
  color: #fff;
  background-color: #AAA;
  text-align: center;
  padding: 0px;
  margin: 3em;
  font-size:smaller;

  
}

.agreservations-calendar th.unittypes {
  color: #fff;
  background-color: #fff;
  text-align: center;
  margin:0;
}

.agreservations-calendar th a.unittypes {
  font-weight:normal ;
  color: #666;
  background-color: #fff;

}

.agreservations-calendar th a.unittypessel {
  font-weight: bold;
  color: #333;
  background-color: #fff;
}
.agreservations-calendar th.categories {
  color: #fff;
  background-color: #fff;
  text-align: center;
  margin:0;
}

.agreservations-calendar th a.categories {
  font-weight:normal ;
  color: #666;
  background-color: #fff;

}

.agreservations-calendar th a.categorysel {
  font-weight: bold;
  color: #333;
  background-color: #fff;
}
.agreservations-calendar th a {
  font-weight: bold;
  color: #fff;
  background-color: #ccc;
}
.agreservations-calendar td {
  width: 12%; /* 14% is about 1/7 of total table width */
  min-width: 12%;
  border: 1px solid #ccc;
  color: #777;
  text-align: right;
  vertical-align: top;
  margin: 0;
  padding:0;
}

/* simplify the mini calendar by removing borders */
.agreservations-calendar .mini {
  border:none;
 }

/* format for the week number in the first cell */
.agreservations-calendar td.week {
  width:1%;
  min-width:1%;
  }

  .agreservations-calendar .unittitle td {
        font-weight:lighter;
  padding:0em;
  background-color: #f2f;
}

.agreservations-calendar .week {
  clear:both;
  font-style: normal;
  color: #555;
  font-size: 0.8em;
}
.agreservations-calendar .week a {
  font-weight:lighter;
  padding:0em;
}

/* IE6 does not support min-height, using Min-Height fast hack from http://www.dustindiaz.com/min-height-fast-hack */
.agreservations-calendar .inner {
  min-height:1em;
  height:auto !important;
  height:1em;
  max-height: 1em;
  padding:0;
  margin:0;
}
.agreservations-calendar .inner div {
  padding:0;
  margin:0;
}
/* Make sure paragraphs buried in calendar cells use padding, not margins, for separation so the background color doesn't come through. */
.agreservations-calendar .inner p {
  padding:0 0 .8em 0;
  margin:0;
}
.agreservations-calendar td a {

  text-decoration: none;
}
.agreservations-calendar td a:hover {
  text-decoration: underline;
}
.agreservations-calendar td.year,
.agreservations-calendar td.month {
  text-align: center;
}

/* format days of the week header cells */
.agreservations-calendar th.days {
  color: #ccc;
  background-color: #224;
  text-align: center;
  padding:1px;
  margin:0;
 }
.agreservations-calendar th.agreservations-calendar-agenda-hour .agreservations-calendar-hour {
  font-size: 1.1em;
  padding: 1px;
      margin:0;
}

/*  floating day number div  */
.agreservations-calendar div.day {
  float: right;
  text-align: center;
  padding: 0.125em 0.25em 0 0.25em;
  margin: 0;
  background-color: #f3f3f3;
  border: 1px solid gray;
  border-width: 0 0 1px 1px;
  clear:both;
  width:2.1em;
}

/*  individual node container  */
.agreservations-calendar div.calendar {
  background-color: #fff;
  border: solid 1px #ddd;
  text-align: left;
  margin:0 .25em .25em 0;
  width: 96%;
  float:right; /* needed to keep IE from hiding the floating day number */
  clear:both;

}
/* No floating of day view content because there is no floating day number */
.agreservations-calendar .day-view div.calendar {
  float:none;
  
  margin:1% 1% 0 1%;
}
.day-view  {
  width: 100%;
  overflow:scroll
}

.week-view  {
  width: 100%;
  overflow:auto;
}
.agreservations-calendar div.title {
  font-size:.8em;
  text-align:center;
}

.agreservations-calendar div.title a {
  color: #000;
}
.agreservations-calendar div.title a:hover {
  color: #c00;
}
.agreservations-calendar .content {
  clear:both;
  padding: 3px;
  padding-left: 5px;
}
.calendar div.form-item {
  white-space: normal;
}

table td.mini,
table th.mini,
table.mini td.week {
  padding:0 1px 0 0;
  margin:0;
  }
table td.mini a {
  font-weight:normal;
  }
.agreservations-calendar .mini-day-off {
  padding:0px;
}
.agreservations-calendar .mini-day-on {
  padding:0px;
}
table .mini-day-on a {
  text-decoration:underline;
  }
.agreservations-calendar .mini .title {
  font-size:.8em;
  }
.mini .agreservations-calendar .week {
  font-size:.7em;
  }
.mini-row {
  width:100%;
  border:none;
}
.mini{
  width:32%;
  vertical-align:top;
  }


/* formatting for the legend stripe and block */
.agreservations-calendar .stripe {
  height: 5px;
  width: auto;
  font-size:1px !important;
  line-height:1px !important;
}
.agreservations-calendar .day-view .stripe {
  width:100%;
}
table.agreservations-legend {
  background-color:#ccc;
  width:100%;
  margin:0;
  padding:0;
}
table.agreservations-legend tr.odd .stripe,
table.agreservations-legend tr.even .stripe {
  height:12px !important;
  font-size:9px !important;
  line-height:10px !important;
}
.agreservations-legend td {
  text-align:left;
}

.agreservations-empty {
  font-size:1em;
  line-height:1px;
}

/* formatting for the full day view */
.agreservations-calendar td.agreservations-agenda-hour {
  font-family:serif;
 /* text-align:right;*/
  border:activeborder;
  border-top:1px #333 dotted;
  
 /* padding-top:.25em;*/
  width:1%;
  height:100px;

  font-size: 1em;
}
.agreservations-calendar td.agreservations-agenda-no-hours {
   font-size: 1em;
  min-width:1%;
  max-height: 1%;
}
.agreservations-i td.agreservations-agenda-hour .agreservations-hour {
  font-size: 1em;
  /*font-weight:bold;*/
  max-height: 1%;
}
.agreservations-calendar td.agreservations-agenda-hour .agreservations-ampm {
  font-size: 1em;
  max-height: 1%;
}
.agreservations-calendar td.agreservations-agenda-items {
  border:1px #999 solid;
  text-align:left;
  height:auto;
}
.agreservations-calendar td.agreservations-agenda-items div.calendar {
  width:auto;
  /*padding:.25em;*/
  margin:0;
}
.agreservations-calendar div.calendar div.inner .agreservations-agenda-empty {
  width:100%;
  text-align:center;
  vertical-align:middle;
 /* padding:1em 0;*/
  background-color:#fff;
}

/* the popup date selector for jumping to a new date */
.agreservations-date-select form {
  text-align:right;
  float:right;
  width:25%;
}
.agreservations-date-select div,
.agreservations-date-select input,
.agreservations-date-select label {
  text-align:right;
  padding:0;
  margin:0;
  float:right;
  clear:both;
}
.agreservations-date-select .description {
  float:right;
}
.agreservations-label {
  font-weight:bold;
  display:block;
  clear:both;
}

.agreservations-calendar div.date-nav {
  background-color:#ccc;
  color:#777;
  padding:0.2em;
  width:auto;
  border:1px solid #ccc;
}
.agreservations-calendar div.date-nav a,
.agreservations-calendar div.date-nav h3 {
  color:#777;
}
.agreservations-calendar th.days {
  background-color:#fff;
  color:#777;
  font-weight:bold;
  border:1px solid #ccc;
}
.agreservations-calendar td.empty {
  background:#ccc;
  border-color:#ccc;
}
.agreservations-calendar table.mini td.empty {
  background:#fff;
  border-color:#fff;
}
.agreservations-calendar td div.day {
  border:1px solid #ccc;
  border-top:none;
  border-right:none;
  margin-bottom:2px;
}
.agreservations-calendar td .inner div,
.agreservations-calendar td .inner div a {
  background:#eee;
  height:auto;
}
/* Set small font size for all items in calendar div, themes can override this. */
/* Use x-small instead of em to avoid multiplying effect in nested items. */
.agreservations-calendar div.calendar {
  border:none;
  font-size:x-small;
  height:auto;
   

}
.agreservations-calendar td .agreservations-inner div.calendar div,
.agreservations-calendar td .agreservations-inner div.calendar div a {
  border:none;
  color:#fff;
  background:#44f;
  margin:auto;
  padding:0px 2px;
  font-size:9px;
    -moz-border-radius : 5px 5px  5px  5px;
  border-radius : 5px 5px  5px  5px;


   
}
.agreservations-calendar td .inner div.calendar div.agreservations-more,
.agreservations-calendar td .inner div.calendar div.agreservations-more a {
  color:#222;
  background:#fff;
  text-align:right;
  

}
.agreservations-calendar td .inner .view-field,
.agreservations-calendar td .inner .view-field a {
  color:#222;
  font-weight:normal;
}


.agreservations-calendar td span.date-display-single,
.agreservations-calendar td span.date-display-start,
.agreservations-calendar td span.date-display-end,
.agreservations-calendar td span.date-display-separator {
 /* font-weight:bold;*/
}
.agreservations-calendar td .inner div.day a {
  color:#4b85ac;
}
.agreservations-calendar tr td.today,
.agreservations-calendar tr.odd td.today,
.agreservations-calendar tr.even td.today {
  background-color:#C3D6E4;
}
.agreservations-calendar td .inner div.calendar div div.view-data-node-data-field-date-field-date-value {
  border-bottom:1px solid #ccc;
}

/* The following are not used by default but are available for themes */
.agreservations-calendar td.past {}
.agreservations-calendar td.future {}
.agreservations-calendar td.has-events {}
.agreservations-calendar td.has-no-events {}